<div class="toolbar">
    <button (click)="layoutService.addItem()">Add Item</button>
    <div
            class="draggable"
            draggable="true"
            (dragend)="layoutService.dropItem('example1')"
    >
        Example 1
    </div>
    <div
            class="draggable"
            draggable="true"
            (dragend)="layoutService.dropItem('example2')"
    >
        Example 2
    </div>
</div>
<gridster [options]="options">
    <gridster-item
            *ngFor="let item of layout"
            [item]="item"
            (dragover)="layoutService.setDropId(item.id)"
    >
        <ng-container
                appLayoutItem
                [componentRef]="layoutService.getComponentRef(item.id)"
        >
        </ng-container>
        <button
                (click)="layoutService.deleteItem(item.id)"
        >
            Delete Item
        </button>
    </gridster-item>
    <!--<gridster-item>-->
        <!--<div class="gridster-item-content">-->
            <!--Some content to select and click without dragging the widget-->
        <!--</div>-->
        <!--<div class="item-buttons">-->
            <!--<button md-icon-button md-raised-button class="drag-handler">-->
                <!--<md-icon>open_with</md-icon>-->
            <!--</button>-->
            <!--<button md-icon-button md-raised-button class="remove-button" (click)="removeItem($event, item)"-->
                    <!--(touchstart)="removeItem($event, item)" mdTooltip="Remove">-->
                <!--<md-icon>clear</md-icon>-->
            <!--</button>-->
        <!--</div>-->
    <!--</gridster-item>-->
</gridster>
